@media screen,
print {
    .hide-in-print {
        display: none !important
    }

    .logo {
        line-height: 80%;
        font-size: 300%;
        margin: 0
    }

    .post {
        line-height: 130%
    }

    .post h1 {
        margin: 10px 0
    }

    .post h3 {
        margin: 5px 0
    }

    .post a {
        text-decoration: none
    }

    .post p {
        margin: 7px 0
    }
}