<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
  <th:block th:fragment="footer">
    <footer>
      <div class="hide-in-print">
        <p>
          <a th:href="@{/feed.xml}">Atom&nbsp;feed</a>
        </p>
      </div>
      <p th:if="${not #strings.isEmpty(theme.config.content.footer_extra)}" th:text="${theme.config.content.footer_extra}"></p>
      <p>
        <a href="https://github.com/yagarea/lyricall/">Lyricall</a>
        created with <b style="color: #FF0000;">&lt;3</b> by
        <a href="https://blackblog.cz/">Jan&nbsp;Černý</a>
      </p>
    </footer>
  </th:block>
</html>
