<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
  <th:block th:fragment="nav">
    <nav class="site-nav hide-in-print" th:with="menu = ${menuFinder.getPrimary()}">
      <ul th:if="${menu != null and not #lists.isEmpty(menu.menuItems)}">
        <li th:each="item : ${menu.menuItems}">
          <a
            th:href="@{${item.status.href}}"
            th:target="${item.spec.target?.value}"
            th:aria-current="${#strings.equals(item.status.displayName, activeTab)} ? 'page' : null"
            th:text="${item.status.displayName}"
          ></a>
        </li>
      </ul>
      <ul th:if="${menu == null or #lists.isEmpty(menu.menuItems)}">
        <li><a th:href="@{/}" th:aria-current="${activeTab == '首页'} ? 'page' : null">首页</a></li>
        <li><a th:href="@{/categories}" th:aria-current="${activeTab == '分类'} ? 'page' : null">分类</a></li>
        <li><a th:href="@{/tags}" th:aria-current="${activeTab == '标签'} ? 'page' : null">标签</a></li>
        <li><a th:href="@{/archives}" th:aria-current="${activeTab == '归档'} ? 'page' : null">归档</a></li>
      </ul>
    </nav>
  </th:block>
</html>
