<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{layout :: html(head = null, content = ~{::content})}"
>
  <th:block th:with="pageTitle = '分类', activeTab = '分类'">
    <th:block th:fragment="content">
      <h2 style="text-align:center;">分类</h2>
      <div class="post" style="text-align:center;">
        <a class="tag tag--blue" th:each="category : ${categories}"
          th:href="@{${category.status.permalink}}">
          <span th:text="${category.spec.displayName}"></span>
          <span class="tag__count" th:text="${category.postCount}"></span>
        </a>
      </div>
    </th:block>
  </th:block>
</html>
