<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{layout :: html(head = null, content = ~{::content})}"
>
  <th:block th:with="pageTitle = 'Categories'">
    <th:block th:fragment="content">
      <h2 style="text-align:center;">Categories</h2>
      <div class="post">
        <div class="poem-list">
          <ul class="hfill" th:each="category : ${categories}">
            <li>
              <a th:href="@{${category.status.permalink}}">
                <b th:text="${category.spec.displayName}"></b>
              </a>
            </li>
            <li><span th:text="${category.postCount}"></span></li>
          </ul>
        </div>
      </div>
    </th:block>
  </th:block>
</html>
