<!doctype html>
<html
  lang="zh-CN"
  xmlns:th="https://www.thymeleaf.org"
  th:fragment="html (head, content)"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#fefaf0" />
    <title th:text="${site.title} + ' | ' + ${pageTitle}"></title>
    <meta name="author" th:content="${site.title}" />
    <link
      rel="stylesheet"
      th:href="@{/assets/css/style.css?v={version}(version=${theme.spec.version})}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="print"
      th:href="@{/assets/css/print.css?v={version}(version=${theme.spec.version})}"
    />
    <th:block th:if="${theme.config.functional.enable_katex != false}">
      <link
        rel="stylesheet"
        th:href="@{/assets/katex/katex.min.css?v={version}(version=${theme.spec.version})}"
      />
    </th:block>
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
    <link rel="apple-touch-icon" th:href="@{/assets/apple-icon.png}" />
    <link rel="manifest" th:href="@{/assets/manifest.json}" />
    <th:block th:if="${theme.config.style.show_grid == false}">
      <style>
        body { background-image: none !important; }
      </style>
    </th:block>
    <th:block th:if="${not #strings.isEmpty(theme.config.style.accent_color)}">
      <style th:utext="':root{--accent:' + ${theme.config.style.accent_color} + ';}'"></style>
    </th:block>
    <th:block th:if="${head != null}">
      <th:block th:replace="${head}" />
    </th:block>
  </head>
  <body>
    <main>
      <th:block th:replace="~{modules/logo :: logo}" />
      <th:block th:replace="~{modules/nav :: nav}" />
      <div class="content-left">
        <th:block th:replace="${content}" />
      </div>
      <th:block th:replace="~{modules/footer :: footer}" />
    </main>
    <halo:footer />
  </body>
</html>
