<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{layout :: html(head = null, content = ~{::content})}"
>
  <th:block th:with="pageTitle = ${singlePage.spec.title}">
    <th:block th:fragment="content">
      <h2 style="text-align: center;" th:text="${singlePage.spec.title}"></h2>
      <div class="post">
        <article th:utext="${singlePage.content.content}"></article>
      </div>
      <th:block th:if="${haloCommentEnabled}">
        <div class="post">
          <halo:comment
            group="content.halo.run"
            kind="SinglePage"
            th:attr="name=${singlePage.metadata.name}"
          />
        </div>
      </th:block>
    </th:block>
  </th:block>
</html>
