<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{layout :: html(head = null, content = ~{::content})}"
>
  <th:block th:with="pageTitle = '标签', activeTab = '标签'">
    <th:block th:fragment="content">
      <h2 style="text-align:center;">标签</h2>
      <div class="post" style="text-align:center;">
        <a class="tag" th:each="tag : ${tags}"
          th:href="@{${tag.status.permalink}}">
          <span th:text="${tag.spec.displayName}"></span>
          <span class="tag__count" th:text="${tag.postCount}"></span>
        </a>
      </div>
    </th:block>
  </th:block>
</html>
